.Header {
  background-color: #ffb74d;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 2em;
  display: flex;
  margin-bottom: 3em;


  // position: fixed;
}

.Header-inner {
  color: #4e342e;

  font-weight: 300;
  margin-left: 3em;
}

.ta-center {
  text-align: center;
}
