.Header {
  background-color: #ffb74d;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 2em;
  // position: fixed;
}

.Header-inner {
  color: #4e342e;
  padding-left: 2em;

  font-weight: 300;
  max-width: 1200px;
  margin: 0 auto;
}
