// body {

//   height:100vh;
//  }

.Icon-information {
  text-decoration: none;
}

.Title {
  font-size: 400;
}

.Greeting {
  text-align: left;
  padding-left: 2em;
}

.App {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

span {
  border: none;
  border-radius: 1em;
  font-size: 1em;
  display: block;
  text-align: center;
}

.total {
  margin-top: 2em;
}

.Icon-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3 {
  color: #4e342e;
  font-style: normal;
  font-weight: 300;
}

.Inner-data {
  display: flex;
  justify-content: space-between;
}

.Buttons-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}
