.button {
  margin-top: 2em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 1em;
  font-size: 2em;
  cursor: pointer;
  margin-bottom: 2em;

  background-color: #d08821;
  color: #fff;

  &:hover {
    background-color: #b7582a;
  }

  &:active {
    background-color: #e1c639;
  }
}
