Button {
  padding: 15px 60px;
 
  border: none;
  border-radius: 1em;
  font-size: 1em;
  font-weight: 300;
  cursor: pointer;
  box-shadow: none;
  background-color: #d08821;
  color: #fff;

  &:hover {
    background-color: #b7582a;
  }

  &:active {
    background-color: #e1c639;
  }


  @media (max-width: 768px) {
   padding: 10px;
  }



}



