button {
  margin-top: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 1em;
  font-size: 2em;
  cursor: pointer;
  margin-bottom: 1em;
}

span {
  padding: 0.5em 1em;
  border: none;
  border-radius: 1em;
  font-size: 2em;
}

.App-link {
  margin-top: 2em;
  background-color: #b67646;
  color: #fff;
  margin-bottom: 1em;

  &:hover {
    background-color: #b7582a;
  }

  &:active {
    background-color: #e1c639;
  }
}

.Counter {
  background-color: #abb8a4;
  color: #fff;
  margin-right: 1em;
  margin-left: 1em;
}

.total {
  background-color: #c6af8e;
  color: #fff;
  margin-top: 2em;
}
