.Container {
  display: flex;
  background-color: #e9eeec;
  justify-content: center;
  height: 100vh;
  padding-top: 2em;
  padding-bottom: 2em;
}

.Container-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Greeting {
  margin-bottom: 2em;
  text-align: center;
  color: red;
}

.App {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.Buttons-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

span {
  padding: 0.5em 1em;
  border: none;
  border-radius: 1em;
  font-size: 2em;
}

.total {
  background-color: #c6af8e;
  color: #fff;
  margin-top: 2em;
}
