body {
  height: 100%;
}
.Wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.Main {

  flex: 1 1 auto;
  

}


.Container {
  height: auto;
}
.Container-inner {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  padding-bottom: 3em;
}
.Icon-information {
  text-decoration: none;
}

.Logo {
  align-items: center;
}

.Title {
  color: #4e342e;
  font-style: normal;
  font-size: 400;
}

.Header-inner {
  color: #4e342e;
  padding-left: 4em;
  font-weight: 300;
}

.Greeting {
  text-align: left;
  padding-left: 2em;
  color: #4e342e;
}

.App {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.Buttons-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

span {
  padding: 20px 10px;
  border: none;
  border-radius: 1em;
  font-size: 1em;
  display: block;
  text-align: center;
}

.total {
  // background-color: main;
  // color: #fff;
  margin-top: 2em;
}

.Footer-inner {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 3em;
  margin-left: 3em;
  display: flex;
  justify-content: space-between;
}

.Icon-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  color: #4e342e;
  font-style: normal;
  font-weight: 300;
}

h1,
h2 {
  font-weight: 300;
}

// .Time {
//   display: block;
//   width: 100%;

//   margin-top: 3em;
//   margin-bottom: 3em;
//   margin-right: 5em;
//   margin-left: 5em;
//   margin-right: 5em;
//   padding-left: 5em;

// }
